.b01 {
    position: relative;

    background-image: url(../img/b01-bg.jpg);
    background-size: cover;
    background-position: right top;
    
    height: 900px;

    @media screen and (max-width: $b768) {
        height: 2000px;
        max-height: 650px;
    }
    
    @media screen and (max-width: $b480) {
        background-image: url(../img/b01-bg-mob.jpg);
        padding-bottom: 40px;
    }
    

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 80%);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 50%);
    }
}
.b01__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
}
.b01__box {
    padding-top: 60px;
    max-width: 636px;

    @media screen and (max-width: $b768) {
        max-width: 436px;
        padding-top: 160px;
    }

    @media screen and (max-width: $b480) {
        // padding-top: 80%;
        margin-top: auto;
    }
}
.container {
}
.b01__title {
    margin-top: 0;
    margin-bottom: 24px;

    @media screen and (max-width: $b480) {
        margin-bottom: 15px;
    }
}

.b01__descr {
    margin-bottom: 40px;
    max-width: 550px;

    font-size: 18px;

    @include resetFirstLastMargin;

    @media screen and (max-width: $b768) {
        margin-bottom: 30px;
        font-size: 16px;
    }

    @media screen and (max-width: $b480) {
        font-size: 15px;
    }
}
.b01__btn {
}
.btn {
}