.b01 {
    position: relative;

    background-image: url(../img/b01-bg.jpg);
    background-size: cover;
    background-position: right top;
    
    height: 900px;

    @media screen and (max-width: $b768) {
        height: 2000px;
        max-height: 650px;
    }
    
    @media screen and (max-width: $b480) {
        background-image: url(../img/b01-bg-mob.jpg);
        padding-bottom: 40px;

        @include retina {
            background-image: url(../img/b01-bg-mob@2x.jpg);
        }
    }
    

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 25%);

        @media screen and (max-width: $b768) {
            background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 70%);
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 10%);
    }
}
.b01__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;

    @include container-middle;
}
.b01__box {
    position: relative;

    padding-top: 58px;
    max-width: 636px;

    @media screen and (max-width: $b768) {
        max-width: 436px;
        padding-top: 160px;
    }

    @media screen and (max-width: $b480) {
        // padding-top: 80%;
        margin-top: auto;
    }

    &::before {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        
        width: 100%;
        height: 100%;

        border-radius: 50%;
        background-color: rgba(217, 217, 217, 0.06);
        filter: blur(167px);
    }
}
.container {
}
.b01__title {
    margin-top: 0;
    margin-bottom: 18px;

    @media screen and (max-width: $b480) {
        margin-bottom: 15px;
    }
}

.b01__descr {
    margin-bottom: 40px;
    max-width: 550px;

    font-size: 18px;

    @include resetFirstLastMargin;

    @media screen and (max-width: $b768) {
        margin-bottom: 30px;
        font-size: 16px;
    }

    @media screen and (max-width: $b480) {
        font-size: 15px;
    }
}
.b01__btn {
}
.btn {
}