.b02 {
    position: relative;

    padding-top: 146px;
    padding-bottom: 184px;

    background-image: url(../img/b02-bg.jpg);
    background-size: cover;
    background-position: center;

    @include retina {
        background-image: url(../img/b02-bg@2x.jpg);
    }

    @media screen and (max-width: $b992) {
        padding-bottom: 120px;
    }

    @media screen and (max-width: $b768) {
        padding-top: 40px;
        padding-bottom: 70px;

        background-image: url('../img/b02-bg-mob.jpg');
        background-size: 100% auto;
        background-position: bottom center;
        background-repeat: no-repeat;

        @include retina {
            background-image: url('../img/b02-bg-mob@2x.jpg') !important;
        }

    }

    

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 25%);

        @media screen and (max-width: $b768) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 25%);
    }
}
.b02__container {
    position: relative;
    z-index: 2;
}
.container {
}
.b02__title {
    margin: 0 auto 81px;
    max-width: 1138px;
    
    text-align: center;

    @media screen and (max-width: $b768) {
        margin-bottom: 40px;
        text-align: left;
    }
}
.b-title {
}
.b02__box {
}
.b02-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px 89px;
    
    max-width: 1054px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (max-width: $b768) {
        gap: 60px;

        flex-direction: column-reverse;

        // max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
.b02-box__left {
    gap: 78px 0;
    
    display: grid;
    grid-template-columns: auto 1fr;

    width: 390px;

    @media screen and (max-width: $b768) {
        width: 100%;
        max-width: 340px;
        justify-content: center;
    }

    @media screen and (max-width: $b480) {
        max-width: 320px;
    }
}
.b02-box__left-row {
}
.b02-box__digit {
    position: relative;
    padding-right: 32px;

    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;

    @media screen and (max-width: $b992) {
        font-size: 36px;
    }

    @media screen and (max-width: $b768) {
        font-size: 34px;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        
        width: 1px;
        height: 70px;
        
        transform: translateY(-50%);
        background-color: #afafaf;
    }

    span {
        font-size: 30px;

        @media screen and (max-width: $b992) {
            font-size: 26px;
        }
    }
}
.b02-box__name {
    padding-left: 32px;
    
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    
    @media screen and (max-width: $b992) {
        max-width: 210px;
        font-size: 18px;
    }

    @media screen and (max-width: $b768) {
        font-size: 16px;
    }
}
.b02-box__right {
    display: flex;
    flex-direction: column;
    gap: 35px;

    // min-width: 550px;
    width: 100%;
    width: calc(100% - 30px - 89px);

    // max-width: 589px;

    @media screen and (max-width: $b768) {
        min-width: calc(100% - 30px);
        max-width: initial;
    }
}
.b02-box__text {
    color: var(--color-text);

    @media screen and (max-width: $b768) {
        font-size: 14px;
        color: var(--gray);
    }

    h3 {
        margin-top: 0;
        margin-bottom: 10px;

        font-size: 20px;
        color: var(--color-text);
        font-weight: 500;
        text-transform: uppercase;

        @media screen and (max-width: $b768) {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    @include resetFirstLastMargin;
}