.b03 {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 80%);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 50%);
    }

    .b-title {
        margin-bottom: 25px;

        @media screen and (max-width: $b768) {
            margin-bottom: 15px;
        }
    }
}
.b03__box {
    position: relative;
    z-index: 2;
}
.b03-box {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $b768) {
        flex-direction: column;
    }
}
.b03-box__col {
    width: 50%;
    display: flex;
    
    @media screen and (max-width: $b768) {
        width: 100%;
    }
}
.half-container {
    width: 100%;
    max-width: calc(100% - (100% - $container_width / 2));
}
.b03-box__col--left,
.b03-box__col--right {
    padding-top: 145px;
    padding-bottom: 210px;

    background-size: cover;
    background-position: center;

    @media screen and (max-width: $b992) {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    @media screen and (max-width: $b768) {
        padding-bottom: 50px;
    }
}
.b03-box__col--left {
    position: relative;
    background-image: url(../img/b03/b03-bg01.jpg);

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        
        width: 1px;
        height: 90%;
        
        transform: translateY(-50%);
        
        background-image: url('../img/b03-separator.png');
        background-size: cover;

        @media screen and (max-width: $b768) {
            display: none;
        }
    }

    .half-container {
        margin-left: auto;
        padding-left: 1.5rem;
        padding-right: 3rem;


        @media screen and (max-width: $b992) {
            padding-right: 1.5rem;
        }
    }
}
.b03-box__col--right {
    background-image: url(../img/b03/b03-bg02.jpg);

    .half-container {
        margin-right: auto;
        padding-left: 3rem;
        padding-right: 1.5rem;


        @media screen and (max-width: $b992) {
            padding-left: 1.5rem;
        }
    }
}

.b03__descr {
    margin-bottom: 60px;

    @media screen and (max-width: $b768) {
        margin-bottom: 30px;
        font-size: 14px;
    }
}
.b03__list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px 8px;
}
.b03__item {
}
.b03__link {
    display: inline-flex;
    padding: 14px 20px;
    border-radius: 50px;

    background-color: rgba(#fff, 6%);
    border: 1px solid rgba(#fff, 27%);

    transition: background-color .25s, color .25s, transform .25s;

    @media screen and (max-width: $b992) {
        padding: 8px 12px;
    }

    @media screen and (max-width: $b768) {
        font-size: 14px;
    }

    &:hover {
        transform: translateY(-2px);
    }
}
