.b04 {
    position: relative;
    margin-bottom: 180px;
    padding-top: 223px;
    padding-bottom: 74px;

    background-image: url('../img/b04-bg.jpg');
    background-size: cover;
    background-position: center;

    @include retina {
        background-image: url('../img/b04-bg@2x.jpg');
    }

    @media screen and (max-width: $b992) {
        padding-top: 120px;
    }

    @media screen and (max-width: $b768) {
        background-image: url('../img/b04-bg-mob-2.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;

        padding-bottom: 0;
        margin-bottom: 120px;

        @include retina {
            background-image: url('../img/b04-bg-mob-2@2x.jpg') !important;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 80%);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 50%);
    }
}
.b04__container {
    position: relative;
    z-index: 2;

    @include container-middle;

}
.container {
    max-width: 1290px;
}
.b04__box {
}
.b04-box {
    margin-bottom: 116px;

    display: flex;
    flex-direction: column;
    gap: 45px;

    max-width: 890px;

    @media screen and (max-width: $b992) {
        max-width: 760px;
    }

    @media screen and (max-width: $b768) {
        margin-bottom: 340px;
        gap: 20px;
    }
}
.b04-box__title {
    margin: 0;
}
.b-title {
}
.b04-box__descr {
    font-size: 20px;

    @include resetFirstLastMargin;

    @media screen and (max-width: $b992) {
        font-size: 18px;
    }

    @media screen and (max-width: $b768) {
        font-size: 16px;
    }
}
.b04-box__btn {
    align-self: flex-start;

    @media screen and (max-width: $b768) {
        margin-top: 10px;
    }
}
.btn {
}
.b04__advantages {
}
.b04-advantages {
    display: flex;
    gap: 40px;

    // max-width: 1291px;
    margin-left: auto;
    margin-right: auto;

    counter-reset: myCounter;

    @media screen and (max-width: $b992) {
        gap: 20px;
    }

    @media screen and (max-width: $b768) {
        flex-direction: column;
    }
}
.b04-advantages__item {
    padding-top: 75px;
    padding-left: 74px;

    position: relative;

    @media screen and (max-width: $b992) {
        padding-top: 24px;
        padding-left: 40px;
    }

    @media screen and (max-width: $b768) {
        padding-top: 14px;
    }

    &::before {
		counter-increment: myCounter;
		content: counter(myCounter);

        position: absolute;
        left: 0px;
        top: -18px;

        font-family: var(--font3);
        font-size: 145px;
        font-weight: 700;

        color: rgba(#fff, 16%);

        @media screen and (max-width: $b992) {
            font-size: 70px;
        }
    }
}
.b04-advantages__title {
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (max-width: $b992) {
        margin-bottom: 14px;
        font-size: 18px;
    }

    @media screen and (max-width: $b768) {
        font-size: 16px;
    }
}
.b04-advantages__descr {
    margin: 0;

    @media screen and (max-width: $b768) {
        font-size: 14px;
    }
}