.b06 {
    position: relative;
    padding-top: 294px;
    padding-bottom: 283px;

    background-image: url('../img/b06-bg.jpg');
    background-size: cover;
    background-position: center;

    @media screen and (max-width: $b768) {
        padding-top: 120px;
        padding-bottom: 70%;
        background-image: url('../img/b06-bg-mob.jpg');
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 80%);

        @media screen and (max-width: $b768) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 50%);
    }
}
.b06__container {
    position: relative;
    z-index: 2;
}
.container {
}
.b06__box {
}
.b06-box {
    max-width: 670px;
    margin: 0 auto;

    text-align: center;
}
.b06__title {
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1.2;
}
.b-title {
}
.b06__descr {
    margin-bottom: 42px;
}
.btn {
}
.b06__btn {
}
.btn__icon {
}