.b06 {
    padding-top: 338px;
    padding-bottom: 300px;

    background-image: url('../img/b06-bg.jpg');
    background-size: cover;
    background-position: center;
}
.b06__container {
}
.container {
}
.b06__box {
}
.b06-box {
    max-width: 670px;
    margin: 0 auto;

    text-align: center;
}
.b06__title {
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1.2;
}
.b-title {
}
.b06__descr {
    margin-bottom: 42px;
}
.btn {
}
.b06__btn {
}
.btn__icon {
}