.b07 {
    padding-top: 85px;
    padding-bottom: 115px;

    @media screen and (max-width: $b768) {
        padding-bottom: 0;
    }
}
.b07__container {
    &.container {
        max-width: 1104px;
    }
}
.b07__box {
}
.b07-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media screen and (max-width: $b768) {
        flex-direction: column;
        gap: 80px;
    }
}
.b07-box__text {
    @include resetFirstLastMargin;
    width: calc((100% - 30px) / 2);

    font-size: 18px;

    // padding-right: 81px;

    @media screen and (max-width: $b1200) {
        padding-right: 0;
    }

    @media screen and (max-width: $b768) {
        width: 100%;
        font-size: 16px;
    }

    b {
        font-size: 22px;
        font-weight: 500;

        @media screen and (max-width: $b768) {
            font-size: 18px;
        }
    }
}
.b07__title {
    margin-bottom: 42px;

    @media screen and (max-width: $b768) {
        margin-bottom: 20px;
    }
}
.b-title {
}
.b07-box__img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc((100% - 30px) / 2);

    @media screen and (max-width: $b768) {
        width: 100%;
    }

    @media screen and (max-width: $b480) {
        max-width: 70%;
        margin: 0 auto;
    }

    img {        
        max-width: 326px;
        width: 100%;
        height: auto;
    }
}