.b08 {
    position: relative;
    padding-top: 87px;
    padding-bottom: 240px;

    background-image: url(../img/b08-bg.jpg);
    background-size: cover;
    background-position: center;

    @include retina {
        background-image: url(../img/b08-bg@2x.jpg);
    }

    @media screen and (max-width: $b768) {
        padding-bottom: 112px;        
    }

    @media screen and (max-width: 560px) {
        background-image: url(../img/b08-bg-mob.jpg);
        background-size: 100% auto;

        @include retina {
            background-image: url('../img/b08-bg-mob@2x.jpg') !important;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 25%);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: 100%;
        
        background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(22,22,22,0) 25%);
    }
}
.b08__container {
    position: relative;
    z-index: 2;
    
    &.container {
        max-width: 1188px;
    }
}
.b08__title {
    max-width: 670px;
    margin: 0 auto 40px;

    text-align: center;
    line-height: 1.2;
}
.b-title {
}
.b08__box {
}
.b08-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    

    @media screen and (max-width: $b768) {
        gap: 15px;
    }

    @media screen and (max-width: 560px) {
        flex-direction: column;
    }
}
.b08-box__col {
}
.b08-col {
    @include resetFirstLastMargin;
    padding: 51px 72px 90px;
    display: flex;
    flex-direction: column;

    max-width: 524px;
    width: calc((100% - 30px) / 2);


    border-radius: var(--brs);
    border: 1px solid #d9d9d9;
    background-color: rgba(#d9d9d9, 4%);
    
    @media screen and (max-width: $b1200) {
        padding: 51px 52px 90px;
    }

    @media screen and (max-width: $b800) {
        padding: 25px 22px 52px;        
    }

    @media screen and (max-width: $b768) {
    }

    @media screen and (max-width: 560px) {
        width: 100%;
    }
}
.b08-col__title {
    margin-bottom: 5px;

    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;

    @media screen and (max-width: $b768) {
        font-size: 18px;
    }
}
.b08-col__descr {
    @include resetFirstLastMargin;

    @media screen and (max-width: 560px) {
        & > * {
            &:first-child {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: $b768) {
        // display: flex;
        // flex-direction: column;
        font-size: 14px;
    }

    @media screen and (max-width: $b768) {
        display: flex;
        flex-direction: column;
    }

    b {
        font-size: 18px;
        font-weight: 500;

        @media screen and (max-width: $b768) {
            font-size: 14px;
        }
    }

    ul {
        margin-top: 25px;
        margin-bottom: 53px;

        @media screen and (max-width: $b768) {
            margin-bottom: 12px;
        }
    }

    .cost {
        margin-bottom: 40px;
        font-weight: 600;

        @media screen and (max-width: $b768) {
            text-align: center;
            margin-bottom: 34px;
        }
    }
}
.b08__btn {
    margin-bottom: 23px;

    @media screen and (max-width: $b768) {
        min-width: initial;
        width: 100%;
    }

    @media screen and (max-width: 560px) {
        // max-width: 140px;
    }
}
.btn {
}
.b08__whatsapp {
    padding-left: 32px;

    position: relative;
    display: inline-flex;

    @media screen and (max-width: $b768) {
        align-self: center;
    }

    &:hover {
        text-decoration: underline;
    }

    &::before {

        content: '';
        position: absolute;
        left: 0px;
        top: 50%;
        
        width: 24px;
        height: 24px;
        
        transform: translateY(-50%);
        
        background-image: url('../img/icons/whatsapp.svg');
        background-size: cover;
    }
}