.b09 {
    padding-bottom: 100px;

    @media screen and (max-width: $b768) {
        padding-bottom: 40px;
    }
}
.b09__container {
}
.container {
}
.b09__title {
    margin-top: 0;
    margin-bottom: 63px;
    text-align: center;

    @media screen and (max-width: 600px) {
        margin-bottom: 30px;
    }
}
.b-title {
}
.b09__box {
}
.b09-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 67px;

    @media screen and (max-width: $b992) {
        gap: 56px;
        align-items: flex-start;
    }

    @media screen and (max-width: $b768) {
        gap: 15px;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 61px;
    }
}
.b09-box__img, .b09-box__text {
    width: calc((100% - 67px) / 2);

    @media screen and (max-width: $b992) {
        width: calc((100% - 56px) / 2);
    }

    @media screen and (max-width: $b768) {
        width: calc((100% - 15px) / 2);
        font-size: 14px;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        font-size: 16px;
    }
}

.b09-box__text {
    @media screen and (max-width: $b768) {
        // font-size: 14px;
    }

    ul:not([class]) li {
        margin-bottom: 0.8rem;
    }
}

.b09-box__img {
    position: relative;

    &::before {
        position: absolute;
        z-index: -1;
        left: 55%;
        top: 64%;
        transform: translate(-50%, -50%);
        content: '';
        
        width: 100%;
        height: 90%;

        border-radius: 50%;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.26) 8.85%, rgba(22, 22, 21, 0.00) 100%);
        filter: blur(105.5px);

        @media screen and (max-width: 480px) {
            top: 77%;
            background: linear-gradient(180deg, rgba(217, 217, 217, 0.36) 8.85%, rgba(22, 22, 21, 0.00) 100%);
        }
    }

    &::after {
        position: absolute;
        z-index: -1;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        content: '';
        
        width: 100%;
        height: 15%;

        border-radius: 50%;
        background: rgba(0, 0, 0, 0.55);
        filter: blur(55.5px);
    }

    img {
        border-radius: var(--brs);
        box-shadow: 0px 0px 4px 0px #000;
    }
}

.b09__btn {
    margin-top: 34px;

    @media screen and (max-width: 600px) {
        margin-top: 28px;
    }
}
.btn {
}