.b10 {
    padding-top: 95px;
    margin-bottom: 105px;
    
    max-width: 100%;
    overflow: hidden;
}
.b10__container {
}
.container {
}
.b10__title {
    margin-top: 0;
    margin-bottom: 62px;
    text-align: center;
}
.b-title {
}
.b10__box {
}
.b10-box {
}
.b10-box.swiper {
    overflow: visible;
}
.b10-box__wrapper {
}
.b10-box__item {
}
.b10-item {
}
.b10-item__img {
    display: block;
    width: 100%;

    border-radius: var(--brs);
    margin-bottom: 28px;
}
.b10-item__date {
    display: block;
    margin-bottom: 21px;
    font-size: 14px;
}
.b10-item__title {
    margin-bottom: 32px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
}
.b10-item__btn {
    min-width: 218px;
    padding: 18px 30px 14px;
}
.btn {

}

