.b11 {
    margin-bottom: 110px;
    overflow: hidden;

    @media screen and (max-width: $b768) {
        margin-bottom: 42px;
    }
}
.b11__container {
}
.container {
}
.b11__title {
    margin-top: 0;
    margin-bottom: 58px;

    text-align: center;

    @media screen and (max-width: $b768) {
        margin-bottom: 20px;
    }
}
.b-title {
}
.b11__box {
    @media screen and (max-width: $b768) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.b11-box {
}
.swiper {
}
.jsB11Slider {
}
.b11-box__wrapper {
}
.swiper-wrapper {
}
.b11-box__item {
}
.b11-item {
}
.swiper-slide {
}
.b11-item__img {
    display: block;
    width: 100%;
    height: auto;
}