.header {
	// position: fixed;
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	
	font-size: 19.64px;

	@media screen and (max-width: $b1440) {
		font-size: 18px;
	}

	@media screen and (max-width: 1300px) {
		font-size: 16px;
	}
}
.header__container {
	width: 100%;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 148px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: $b992) {
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 80px;
	}

	@media screen and (max-width: $b768) {
		min-height: 60px;
	}
}

.header__logo {
	position: absolute;
	left: 48%;

	// transform: translateX(-46px);
	transform: translate(-46px, 5px);
	
	
	img {
		height: 108px;
		width: auto;

		@media screen and (max-width: $b992) {
			height: 70px;
		}

		@media screen and (max-width: $b768) {
			height: 57px;
		}
	}
}
.header__nav {
	flex-grow: 1;

	@media screen and (max-width: $b1200) {
		display: none;
	}
}

.header__lang {
}
.lang {
	display: flex;
	align-items: center;
	gap: 27px;
	padding-left: 38px;
	padding-right: 38px;

	@media screen and (max-width: $b1200) {
		padding: 0;
	}

	@media screen and (max-width: $b768) {
		font-size: 14px;
		gap: 16px;
	}
}
.lang__item {
	color: var(--gray);

	position: relative;

	&:not(:last-child) {
		&::after {
			content: '';
			position: absolute;
			right: -14px;
			top: 50%;
			
			width: 1px;
			height: 25px;
			
			transform: translateY(-50%);
			
			background-color: var(--gray);

			@media screen and (max-width: $b768) {
				right: -9px;
				height: 20px;
			}
		}
	}

}
.lang__item--active {
	color: var(--color-text);
	font-weight: 500;
}
.header__phone {
	font-weight: 600;

	@media screen and (max-width: $b1200) {
		display: none;
	}
}