/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #bdbdbd #f6f6f6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
	
	@media screen and (max-width: $b768) {
		width: 6px;
	}
}

*::-webkit-scrollbar-track {
	border-radius: 6px;
	background: #f6f6f6;
}

*::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 6px;
	border: 0px solid #ffffff;
}

.mobile-menu {
	scrollbar-width: auto;
	scrollbar-color: #303030 #161616;

	&::-webkit-scrollbar {
		width: 8px;
		
		@media screen and (max-width: $b768) {
			width: 6px;
		}
	}

	&::-webkit-scrollbar-track {
		border-radius: 6px;
		background: #161616;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #303030;
		border-radius: 6px;
		border: 0px solid #ffffff;
	}
}

