@use "sass:math";

// Брейкпоинты

// Брейкпоинты
$b1440: 1440px;
$b1200: 1200px;
$b1024: 1024px;
$b992: 992px;
$b800: 800px;
$b768: 768px;
$b480: 480px;
$b330: 330px;

// Размеры
$container_width: 162rem;


:root {

    // Цвета
    --color-text: #fff; // цвет текста
    --gray: #828282;
    --bg-color: #161615;

    // Шрифты
    --font1: 'Montserrat', sans-serif;
    --font2: 'Philosopher', sans-serif;
    --font3: 'Cormorant Infant', serif;

    // Скругления
    --brs: 2rem;

    // Размеры
    --mainGap: 20px;
    @media (max-width: $b1200) {
        --mainGap: 10px;
    }

    --indentBlocks: 4.8rem;
    @media (max-width: $b1200) {
        --indentBlocks: 4rem;
    }

    --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
    --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);
}