section.b01
    .b01__container
        .b01__box(data-aos="fade-up" data-aos-duration="2000")
            h1.b01__title.b-title Премиум-консьерж 24/7: реализуем ваши желания
            .b01__descr
                p Ваш персональный помощник в организации личных и бизнес вопросов. С нами нет ничего невозможного. Скажите что вам нужно, остальное сделаем мы.
            a(href="#").b01__btn.btn Оставить заявку