section.b02
    .b02__container.container
        h2.b02__title.b-title(data-aos="fade-opacity" data-aos-duration="3000") Компания «Luxury World Key Concierge» работает на рынке премиальных консьерж услуг 17 лет
        .b02__box.b02-box
            .b02-box__left(data-aos="fade-right" data-aos-duration="1800")
                //- .b02-box__left-row
                .b02-box__digit 17&nbsp;
                    span лет
                .b02-box__name на рынке консъерж услуг
                
                //- .b02-box__left-row
                .b02-box__digit 50
                .b02-box__name профессионалов в компании

                //- .b02-box__left-row
                .b02-box__digit 900
                .b02-box__name довольных клиентов

            .b02-box__right(data-aos="fade-left" data-aos-duration="1800")
                .b02-box__text
                    h3 Международная команда профессионалов
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 

                .b02-box__text 
                    h3 Выполняем любые запросы наших клиентов
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

                .b02-box__text
                    h3 Стремимся быть лучшими в своем деле
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip