section.b05
	.b05__container.container
		h2.b05__title.b-title(data-aos="fade-down" data-aos-duration="1000") Наши истории
	.b05-box(data-aos="fade-up" data-aos-duration="2000")
		.b05__slider.b05-slider.swiper.jsB05Slider
			.b05-slider__wrapper.swiper-wrapper

				.b05-slider__item.b05-story.swiper-slide
					.b05-story__box
						h3.b05-story__title Цепляющий заголовок
						.b05-story__text
							p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
							p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
							p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день

							p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
							p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
							p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день

				.b05-slider__item.b05-story.swiper-slide
					.b05-story__box
						h3.b05-story__title Цепляющий заголовок
						.b05-story__text
							p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
							p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
							p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день

				.b05-slider__item.b05-story.swiper-slide
					.b05-story__box
						h3.b05-story__title Цепляющий заголовок
						.b05-story__text
							p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
							p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
							p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день

				.b05-slider__item.b05-story.swiper-slide
					.b05-story__box
						h3.b05-story__title Цепляющий заголовок
						.b05-story__text
							p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
							p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
							p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день
			
			.jsB05Slider__prev
			.jsB05Slider__next

			.b05-slider-pagination