section.b06
	.b06__container.container
		.b06__box.b06-box
			h2.b06__title.b-title(data-aos="fade-opacity") Оставьте все задачи нам и&nbsp;расслабьтесь
			.b06__descr(data-aos="fade-right" data-aos-duration="1400")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
			a(href="#").btn.b06__btn(data-aos="fade-left" data-aos-duration="1800") 
				img(src="img/icons/whatsapp.svg", alt="").btn__icon
				| Написать в What’sApp