section.b06
	.b06__container.container
		.b06__box.b06-box
			h2.b06__title.b-title Оставьте все задачи нам и&nbsp;расслабьтесь
			.b06__descr 
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
			a(href="#").btn.b06__btn 
				img(src="img/icons/whatsapp.svg", alt="").btn__icon
				| Написать в What’sApp