section.b07
	.b07__container.container
		.b07__box.b07-box
			.b07-box__text
				h2.b07__title.b-title Философия бренда
				p 
					b Первый и главный принцип. Мы достойны доверия наших гостей. Запросы наших клиентов строго конфиденциальны.
				p Мы не судим. Мы не распространяемся об этом. Ни при каких обстоятельствах мы не разглашаем информацию о наших клиентах
				p Мы учим друг друга искать неординарные решения. Вместо того, чтобы зацикливаться на проблемах, мы ищем возможные решения. Каждый запрос — это задача, которую мы решаем с учетом того, что клиент хочет получить в итоге.
			.b07-box__img
				img(src="img/logo.svg", alt="")