section.b08
	.b08__container.container
		h2.b08__title.b-title(data-aos="fade-down" data-aos-duration="1000") Выбирайте лучшее для себя и своей семьи
		.b08__box.b08-box
			.b08-box__col.b08-col(data-aos="fade-right" data-aos-duration="1800")
				h3.b08-col__title Стиль жизни
				.b08-col__descr
					p 
						b Индивидуальный график работы
					ul
						li Услуги для вас и вашей семьи
						li Выполнение любых задач в сфере быта, досуга и путешествий
					p.cost Стоимость рассчитывается индивидуально
					a(href="#").b08__btn.btn Оставить заявку
					a(href="#").b08__whatsapp Написать в WhatsApp
			.b08-box__col.b08-col(data-aos="fade-left" data-aos-duration="1800")
				h3.b08-col__title Бизнес
				.b08-col__descr
					p 
						b Индивидуальный график работы
					ul
						li Услуги для вас и вашей семьи
						li Выполнение любых задач в сфере быта, досуга и путешествий
					p.cost Стоимость рассчитывается индивидуально
					a(href="#").b08__btn.btn Оставить заявку
					a(href="#").b08__whatsapp Написать в WhatsApp