section.b09
	.b09__container.container
		h2.b09__title.b-title(data-aos="fade-opacity" data-aos-duration="1000") Клубная карта
		.b09__box.b09-box
			.b09-box__img(data-aos="fade-right" data-aos-duration="1400")
				img(src="img/b09.jpg", alt="")
			.b09-box__text(data-aos="fade-left" data-aos-duration="1400")
				ul
					li 24 / 7 / 365 Доступ к персональному Lifestyle Manager
					li Доступ к эксклюзивным мероприятиям
					li Пропуска за кулисы по всему миру
					li Доступ к частным клубам
				a(href="#").b09__btn.btn Подробнее