section.b10
	.b10__container.container
		h2.b10__title.b-title(data-aos="fade-opacity" data-aos-duration="1800") LWK медиа
		.b10__box.b10-box.swiper.jsB10Slider(data-aos="fade-right" data-aos-duration="1400")
			.b10-box__wrapper.swiper-wrapper

				a(href="#").b10-box__item.b10-item.swiper-slide
					img(src="img/b10/01.jpg", alt="").b10-item__img
					time(datetime="2023-07-14 19:00").b10-item__date 14.07.2023
					.b10-item__title Лучшие виды спорта, которые стоит попробовать в Дубаи
					span.b10-item__btn.btn Читать

				a(href="#").b10-box__item.b10-item.swiper-slide
					img(src="img/b10/02.jpg", alt="").b10-item__img
					time(datetime="2023-07-14 19:00").b10-item__date 14.07.2023
					.b10-item__title Лучшие виды спорта, которые стоит попробовать в Дубаи
					span.b10-item__btn.btn Читать

				a(href="#").b10-box__item.b10-item.swiper-slide
					img(src="img/b10/03.jpg", alt="").b10-item__img
					time(datetime="2023-07-14 19:00").b10-item__date 14.07.2023
					.b10-item__title Лучшие виды спорта, которые стоит попробовать в Дубаи
					span.b10-item__btn.btn Читать

				a(href="#").b10-box__item.b10-item.swiper-slide
					img(src="img/b10/01.jpg", alt="").b10-item__img
					time(datetime="2023-07-14 19:00").b10-item__date 14.07.2023
					.b10-item__title Лучшие виды спорта, которые стоит попробовать в Дубаи
					span.b10-item__btn.btn Читать

				a(href="#").b10-box__item.b10-item.swiper-slide
					img(src="img/b10/02.jpg", alt="").b10-item__img
					time(datetime="2023-07-14 19:00").b10-item__date 14.07.2023
					.b10-item__title Лучшие виды спорта, которые стоит попробовать в Дубаи
					span.b10-item__btn.btn Читать

				a(href="#").b10-box__item.b10-item.swiper-slide
					img(src="img/b10/03.jpg", alt="").b10-item__img
					time(datetime="2023-07-14 19:00").b10-item__date 14.07.2023
					.b10-item__title Лучшие виды спорта, которые стоит попробовать в Дубаи
					span.b10-item__btn.btn Читать