section.b11
	.b11__container.container
		h2.b11__title.b-title Мы в Instagram
	.b11__box.b11-box.swiper.jsB11Slider
		.b11-box__wrapper.swiper-wrapper
			.b11-box__item.b11-item.swiper-slide
				img(src="img/b11/01.jpg", alt="").b11-item__img
			.b11-box__item.b11-item.swiper-slide
				img(src="img/b11/02.jpg", alt="").b11-item__img
			.b11-box__item.b11-item.swiper-slide
				img(src="img/b11/03.jpg", alt="").b11-item__img
			.b11-box__item.b11-item.swiper-slide
				img(src="img/b11/04.jpg", alt="").b11-item__img