section.b12
	.b12-box
		.b12-box__left(data-aos="fade-right" data-aos-duration="1400")
		.b12-box__right
			.half-container
				h2.b-title(data-aos="fade-opacity" data-aos-duration="1800") Остались вопросы?
				include ../includes/form