section.b12
	.b12-box
		.b12-box__left(data-aos="fade-down" data-aos-duration="1000")
		.b12-box__right(data-aos="zoom-out" data-aos-duration="1000")
			.half-container
				h2.b-title Остались вопросы?
				include ../includes/form