footer.footer
	.footer__container.container(data-aos="fade-opacity" data-aos-duration="2000")
		.footer__top
			a(href="#").footer__logo.footer__logo
				img(src="img/logo.svg", alt="")
			.footer__col
				span.footer__title ABOUT
				ul.footer__menu.footer-menu
					li.footer-menu__item
						a(href="#").footer-menu__link Services
					li.footer-menu__item
						a(href="#").footer-menu__link About
					li.footer-menu__item
						a(href="#").footer-menu__link Events
					li.footer-menu__item
						a(href="#").footer-menu__link Media
					li.footer-menu__item
						a(href="#").footer-menu__link Partners
					li.footer-menu__item
						a(href="#").footer-menu__link Contacts

			.footer__col
				span.footer__title CORPORATE AND PRIVATE
				ul.footer__menu.footer-menu
					li.footer-menu__item
						a(href="#").footer-menu__link Concierge Management Services
					li.footer-menu__item
						a(href="#").footer-menu__link Concierge Training and Development
					li.footer-menu__item
						a(href="#").footer-menu__link Private Jet Concierge
					li.footer-menu__item
						a(href="#").footer-menu__link Business Concierge Services
					li.footer-menu__item
						a(href="#").footer-menu__link Travel Concierge Services

			.footer__col
				span.footer__title LIMITLESS CLUB
				ul.footer__menu.footer-menu
					li.footer-menu__item
						a(href="#").footer-menu__link Limitless Club
		.footer__middle
			.footer__col
				ul.footer__social
					li
						a(href="https://www.facebook.com/luxuryworldkey/" target="_blank" rel="nofollow")
							svg(width=' 20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M17.36 2H2.64C2.286 2 2 2.286 2 2.64V17.36C2 17.714 2.286 18 2.64 18H17.36C17.714 18 18 17.714 18 17.36V2.64C18 2.286 17.714 2 17.36 2ZM15.512 6.67H14.234C13.232 6.67 13.038 7.146 13.038 7.846V9.388H15.43L15.118 11.802H13.038V18H10.544V11.804H8.458V9.388H10.544V7.608C10.544 5.542 11.806 4.416 13.65 4.416C14.534 4.416 15.292 4.482 15.514 4.512V6.67H15.512Z' fill='#000')
					li
						a(href="https://www.instagram.com/luxuryworldkey" target="_blank" rel="nofollow")
							svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M10 1.66797C12.2642 1.66797 12.5467 1.6763 13.435 1.71797C14.3225 1.75964 14.9267 1.8988 15.4583 2.10547C16.0083 2.31714 16.4717 2.6038 16.935 3.0663C17.3587 3.48288 17.6866 3.98679 17.8958 4.54297C18.1017 5.0738 18.2417 5.6788 18.2833 6.5663C18.3225 7.45464 18.3333 7.73714 18.3333 10.0013C18.3333 12.2655 18.325 12.548 18.2833 13.4363C18.2417 14.3238 18.1017 14.928 17.8958 15.4596C17.6872 16.0161 17.3593 16.5202 16.935 16.9363C16.5183 17.3599 16.0144 17.6878 15.4583 17.8971C14.9275 18.103 14.3225 18.243 13.435 18.2846C12.5467 18.3238 12.2642 18.3346 10 18.3346C7.73583 18.3346 7.45333 18.3263 6.565 18.2846C5.6775 18.243 5.07333 18.103 4.54166 17.8971C3.98527 17.6884 3.48127 17.3604 3.065 16.9363C2.64117 16.5198 2.31327 16.0159 2.10416 15.4596C1.8975 14.9288 1.75833 14.3238 1.71666 13.4363C1.6775 12.548 1.66666 12.2655 1.66666 10.0013C1.66666 7.73714 1.675 7.45464 1.71666 6.5663C1.75833 5.67797 1.8975 5.07464 2.10416 4.54297C2.31269 3.98645 2.64067 3.4824 3.065 3.0663C3.48139 2.64233 3.98535 2.31441 4.54166 2.10547C5.07333 1.8988 5.67666 1.75964 6.565 1.71797C7.45333 1.6788 7.73583 1.66797 10 1.66797ZM10 5.83464C8.89493 5.83464 7.83512 6.27362 7.05372 7.05502C6.27232 7.83643 5.83333 8.89623 5.83333 10.0013C5.83333 11.1064 6.27232 12.1662 7.05372 12.9476C7.83512 13.729 8.89493 14.168 10 14.168C11.1051 14.168 12.1649 13.729 12.9463 12.9476C13.7277 12.1662 14.1667 11.1064 14.1667 10.0013C14.1667 8.89623 13.7277 7.83643 12.9463 7.05502C12.1649 6.27362 11.1051 5.83464 10 5.83464V5.83464ZM15.4167 5.6263C15.4167 5.35004 15.3069 5.08508 15.1116 4.88973C14.9162 4.69438 14.6513 4.58464 14.375 4.58464C14.0987 4.58464 13.8338 4.69438 13.6384 4.88973C13.4431 5.08508 13.3333 5.35004 13.3333 5.6263C13.3333 5.90257 13.4431 6.16752 13.6384 6.36287C13.8338 6.55822 14.0987 6.66797 14.375 6.66797C14.6513 6.66797 14.9162 6.55822 15.1116 6.36287C15.3069 6.16752 15.4167 5.90257 15.4167 5.6263ZM10 7.5013C10.663 7.5013 11.2989 7.76469 11.7678 8.23354C12.2366 8.70238 12.5 9.33826 12.5 10.0013C12.5 10.6643 12.2366 11.3002 11.7678 11.7691C11.2989 12.2379 10.663 12.5013 10 12.5013C9.33696 12.5013 8.70107 12.2379 8.23223 11.7691C7.76339 11.3002 7.5 10.6643 7.5 10.0013C7.5 9.33826 7.76339 8.70238 8.23223 8.23354C8.70107 7.76469 9.33696 7.5013 10 7.5013V7.5013Z' fill='black')

					li
						a(href="https://twitter.com/lwkconcierge" target="_blank" rel="nofollow")
							svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M19 3.89789C18.3381 4.21861 17.627 4.43531 16.8794 4.53326C17.6508 4.0286 18.2278 3.23432 18.503 2.29863C17.7783 2.7693 16.9851 3.1006 16.158 3.27812C15.6018 2.62877 14.8651 2.19836 14.0623 2.05374C13.2594 1.90911 12.4354 2.05834 11.7181 2.47828C11.0007 2.89821 10.4303 3.56535 10.0953 4.37611C9.76022 5.18688 9.67936 6.0959 9.86523 6.96206C8.39683 6.88144 6.96033 6.46412 5.64898 5.73718C4.33762 5.01023 3.18071 3.98991 2.25333 2.74244C1.93623 3.34053 1.7539 4.03398 1.7539 4.7725C1.75354 5.43734 1.90328 6.09199 2.18981 6.67838C2.47634 7.26477 2.89082 7.76476 3.39646 8.13398C2.81005 8.11358 2.23658 7.94032 1.72377 7.62863V7.68064C1.72371 8.6131 2.0187 9.51687 2.55868 10.2386C3.09865 10.9603 3.85036 11.4555 4.68625 11.6402C4.14226 11.8012 3.57192 11.8249 3.01832 11.7096C3.25416 12.5119 3.71355 13.2135 4.33219 13.7162C4.95082 14.2188 5.69772 14.4974 6.46833 14.5128C5.16018 15.6357 3.54461 16.2448 1.88153 16.2421C1.58693 16.2422 1.29258 16.2234 1 16.1858C2.68813 17.3726 4.65322 18.0024 6.66018 18C13.454 18 17.168 11.8474 17.168 6.51132C17.168 6.33796 17.164 6.16286 17.1569 5.9895C17.8793 5.41825 18.5029 4.71087 18.9984 3.90049L19 3.89789V3.89789Z' fill='black')
					li
						a(href="https://www.youtube.com/channel/UCqmAmu6YIIWqjEQDmoL7XVg" target="_blank" rel="nofollow")
							svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M18.3848 5.7832C18.2851 5.41218 18.0898 5.07384 17.8184 4.80202C17.5469 4.53021 17.2088 4.33446 16.8379 4.23438C15.4727 3.86719 10 3.86719 10 3.86719C10 3.86719 4.52734 3.86719 3.16211 4.23242C2.79106 4.33219 2.45278 4.52782 2.18126 4.79969C1.90974 5.07155 1.71453 5.41007 1.61523 5.78125C1.25 7.14844 1.25 10 1.25 10C1.25 10 1.25 12.8516 1.61523 14.2168C1.81641 14.9707 2.41016 15.5645 3.16211 15.7656C4.52734 16.1328 10 16.1328 10 16.1328C10 16.1328 15.4727 16.1328 16.8379 15.7656C17.5918 15.5645 18.1836 14.9707 18.3848 14.2168C18.75 12.8516 18.75 10 18.75 10C18.75 10 18.75 7.14844 18.3848 5.7832ZM8.26172 12.6172V7.38281L12.793 9.98047L8.26172 12.6172Z' fill='black')

			.footer__col
				a.footer__mail(href='mailto:info@lwkconcierge.com') info@lwkconcierge.com
		.footer__bottom
			.footer__col
				.footer__copyright © 2006 - 2023 Luxury World Key Concierge. All Rights Reserved
			.footer__col
				a(href='#') Privacy policy