header.header.header--home
	.header__container
		a(href="#").header__logo
			img(src="img/logo.svg", alt="")
		button.mobile-menu-btn.burger__menu-btn.js-burger.jsMobileMenuBtnToggle
			span
		nav.header__nav.nav
			ul.nav__list.nav-list.jsMenu
				li.nav-list__item.nav-list__item--dropdown
					a(href="#").nav-list__link О нас
					ul.nav-list
						li.nav-list__item
							a(href="#").nav-list__link Медиа
						li.nav-list__item
							a(href="#").nav-list__link Партнеры
						li.nav-list__item
							a(href="#").nav-list__link Франшиза

				li.nav-list__item.nav-list__item--dropdown
					a(href="#").nav-list__link Услуги
					ul.nav-list
						li.nav-list__item
							a(href="#").nav-list__link Первая услуга
						li.nav-list__item
							a(href="#").nav-list__link Название второй услуги
						li.nav-list__item
							a(href="#").nav-list__link Вторая услуга
						li.nav-list__item
							a(href="#").nav-list__link Четвертая услуга
				li.nav-list__item
					a(href="#").nav-list__link Клубная карта
				li.nav-list__item
					a(href="#").nav-list__link Мероприятия
				li.nav-list__item.nav-list__item--offset
					a(href="#").nav-list__link Контакты
		.header__lang.lang
			a(href="#").lang__item.lang__item--active EN
			span.lang__item RU
		a(href="tel:+971585294884").header__phone +971 58 529 4884



