//- Доделать
//- Попап
//- Меню десктоп / мобилка
//- Адаптив
//- +++Слайдер - Наши истории
//- +++Футер


include ../includes/mixins

//- Для pageType указать тип страницы
- var pageType = 'home';


//- home - главная страница
if pageType === 'home'
	include home

//- index - для показа верстки
if pageType === 'index'
	include verstka

