@use "sass:math";

@mixin pix-to-rem($px) {
    font-size: math.div($px, $font-size-default) * 1rem;
}

@mixin h2 {
    font-family: var(--font2);
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
}

@mixin resetFirstLastMargin {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin container-middle {
	max-width: 1515px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;

	@media screen and (max-width: $b1200) {
		padding-left: 15px;
		padding-right: 15px;
	}
}